// Base
$body-background-color-start: #FFECD2;
$body-background-color-end: #FCB69F;

// Defaults:
$default-headline-color: #233142;
$default-link-color: #91AACE;

// Typography
$font-family-primary: "Cabin", sans-serif;

// Component: searchengine
$searchengine-album-grid-overlay-color: rgba(0, 0, 0, 0.85);
$searchengine-headline-highlight-color: #FE5F55;
$searchengine-headline-color: #233142;
$searchengine-link-color: #F38181;

// Component: searchbar
$searchbar-input-background-color: rgba(255, 255, 255, 0.5);
$searchbar-button-background-color: #FFFFFF;
$searchbar-input-text-color: #FE5F55;
